
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap');

*{
   box-sizing: border-box;
   margin: 0;

}
body{

   font-family: 'Poppins', sans-serif;
}

.container{
   background-color: rgb(15, 15, 15);
   min-height: 40px;
   border-style: solid;
   border-width: 1px;
   width: 100%;
   display: flex;
   text-decoration: none;
   padding-top: 10px;
   justify-content: space-evenly;  
}
header{ 
   min-height: 70px;
   width: 100%;
   text-decoration: none; 
   position: sticky;
   top: 0;
   z-index: 100;
   

}
.navbar {
   text-decoration: none;
   padding-top: 15px;
   padding-bottom: 10px;
   min-height: 70px;
   border-width: 1px;
   width: 100%;
   display: flex;
   justify-content: center;
background-color: #ffffff;
 height: 70px;
  position: sticky;
  overflow: hidden;
}
.navbar ul {
   padding-bottom: 20px;
   list-style-type: none;
   display: flex;
   margin: auto;
}
 a{
   height: 8px;
   text-decoration: none;
   color: rgb(250, 246, 246);
 }
 #para{
   color: white;
 }

ul.navbar li a {
text-decoration: none;
color: #19233c;
   float: left;
   position: relative;
}
ul.navbar li a::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: #1c1e20;
   transform: scaleX(0);
   transform-origin: right;
    transition: transform 0.3s ease;
 }
 ul.navbar li a:hover::after {
   transform: scaleX(1);
   transform-origin: left;
 }

ul.navbar li a{
   display: block;
   padding: 8px 20px 40px;
   text-decoration: none;
   color: rgb(8, 8, 8); 
}
.logo img{
   width: 160px;
   padding-right: 100px;
 
}
.slider-container {
min-height: 570px;
width: 100%;
background-image: url('assests/demo-home-fashion-slider-01.webp');
background-size: cover;
background-position: center;
cursor: url("assests/pointer.png"),auto;


}
.h1{
   text-align: center;
   padding-top: 100px;
   font-weight: 300px;
   font-size: larger;
   color: #d5e0d8;
}
.h2{
   text-align: center;
   font-size: 90px;
   color: white;
   padding-top: 30px;
   font-weight: 300px;
}
.section{
   min-height: 400px;
   width: 100%;
   border-width: 1px;
   background-color: black;
   color: #ffffff;
}
.collection{
   min-height: 150px;
   width: 100%;
   background-color: #ffffff;
   display: flex;
justify-content:center
}
#shipping{
padding-top: 50px;   
padding-left: 180px;
margin-right: 50px;
}

#discount{
   padding-top: 50px;
   padding-left: 110px;
   margin-right: 50px;

}
#Protection{
   padding-top: 50px;
   padding-left: 110px;
   margin-right: 50px;
}
#Customer{
   padding-top: 50px;
   padding-left: 100px;
   margin-right: 50px;
}
.logo{
   width: 100px;
   height: 20px;
   margin-bottom: 50px;
}
.icontainer{
   min-height: 250px;
   width: 100%;
   background-color: #1c1e20;
   border-style: solid;
   border-width: 2px;
}

.Grid-container{
    width: 100%;
    height: 100vh;
    display: flex;
    /* border: 1px solid; */
    padding: 10px;
    

    
}
.left{
   width: 50%;
   height: auto;
   /* border: 1px solid; */

   
}
.right{
    width: 50%;
   height: auto;
   /* border: 1px solid Red;  */
   background-image: url(assests/demo-home-fashion-02.webp);
   margin-left: 5px;
   background-repeat: no-repeat;
   background-size: cover;
}
.left_1{


   text-align: center;
    width: 100%;
    height: 50%;
    /* border: 1px solid rgb(0, 255, 68);  */
    margin: 5px;
    background-image: url(assests/demo-home-fashion-01.webp);
    background-size: cover;
}
.left_2{
    width: 100%;
    height: 331px;
    /* border: 1px solid red; */
    display: flex; 
    /* padding-left: 2px; */
    gap: 10px;

}
.item_1{
    width: 50%;
    height: 320px;
    /* border: 1px solid blue; */
    margin: 5px;
    padding: 1px;
    background-image: url(assests/demo-home-fashion-03.webp);
    background-size: cover;
}
.item_2{
   width: 50%;
   height: 320px;
   /* border: 1px solid blue; */
   margin: 5px;
   padding: 1px;
   background-image: url(assests/demo-home-fashion-04.webp);
   background-size: cover;
}

.box{
   width: 100%;
   height: 100px;
   text-align: center;
   padding-top: 30px;
   margin-bottom: 30px;
}
.c1{
   font-weight: 400;
   font-size:xx-large
}
.Fluid-container_A{
   Display:flex;
   height: 600px;
   width: 100%;
   justify-content: center;
   
}
.price{
   color:#ff8a7b;
}
#fluid_1{
   width: 303.84px;
   height: 515.74px;
   background-color: black;
   margin: 10px;
   background-size: cover;
   position: relative;
   text-align: center;
   overflow: hidden;
   color: #ffffff;
   /* box-shadow: 5px 5px 10px 2px rgba(42, 72, 86, 0.5); */
   transition: box-shadow 0.3s;
   color: #ffffff;


}
#fluid_1:hover{
   box-shadow: 5px 5px 10px 2px rgba(133, 35, 35, 0.5);
   overflow: hidden;
}
#fluid_1 img:hover{
   
   transform: scale(1.1);
   
}
#fluid_2{
   width: 303.84px;
   height: 515.74px;
   background-color: #000000;
   margin: 10px;
   background-size: cover;
   position: relative;
   text-align: center;
   overflow: hidden;
   transition: box-shadow 0.3s;
   color: #ffffff;
}
#fluid_2:hover{
   box-shadow: 5px 5px 10px 2px rgba(133, 35, 35, 0.5);}


#fluid_3{ 
   width: 303.84px;
   height: 515.74px;
   color: #ffffff;
   background-color: #000000;
   margin: 10px;
   background-size: cover;
   position: relative;
   text-align: center;
   overflow: hidden;
   transition: box-shadow 0.3s;

}
#fluid_3:hover{
   box-shadow: 5px 5px 10px 2px rgba(133, 35, 35, 0.5);}

#fluid_4{
    width: 303.84px;
   height: 515.74px;
   color: #ffffff;
   background-color: #000000;
   margin: 10px;
   background-size: cover;
   position: relative;
   text-align: center;
   overflow: hidden;
   transition: box-shadow 0.3s;
   
}
#fluid_4:hover{box-shadow: 5px 5px 10px 2px rgba(133, 35, 35, 0.5);}


#fluid_5{
   width: 303.84px;
   height: 515.74px;
   color: #ffffff;
   background-color: #000000;
   margin: 10px;
   position: relative;
   text-align: center;
   overflow: hidden;
   transition: box-shadow 0.3s;
}
#fluid_5:hover{box-shadow: 5px 5px 10px 2px rgba(133, 35, 35, 0.5);}
.product-title {
   color: var(--dark-color);
   display: inline-block;
   
}
.fonts{
   margin-top: 30px;
}

.Fluid-container_B{
   justify-content: center;
   Display:flex;
   height: 600px;
   width: 100%;
}
#fluid_6{
   color: #ffffff;
   width: 303.84px;
   height: 515.74px;
   background-color: #000000;
   margin: 10px;
   background-size: cover;
   position: relative;
   text-align: center;
   overflow: hidden;
   /* box-shadow: 5px 5px 10px 2px rgba(42, 72, 86, 0.5); */
   transition: box-shadow 0.3s;
}
#fluid_6:hover{
   box-shadow: 5px 5px 10px 2px rgba(133, 35, 35, 0.5);}

   #fluid_7{
      width: 303.84px;
      color: #ffffff;
      height: 515.74px;
      background-color: #000000;
      margin: 10px;
      background-size: cover;
      position: relative;
      text-align: center;
      overflow: hidden;
      /* box-shadow: 5px 5px 10px 2px rgba(42, 72, 86, 0.5); */
      transition: box-shadow 0.3s;
   }
   #fluid_7:hover{
      box-shadow: 5px 5px 10px 2px rgba(133, 35, 35, 0.5);}

      #fluid_8{
         width: 303.84px;
         color: #ffffff;
         height: 515.74px;
         background-color: #000000;
         margin: 10px;
         background-size: cover;
         position: relative;
         text-align: center;
         overflow: hidden;
         /* box-shadow: 5px 5px 10px 2px rgba(42, 72, 86, 0.5); */
         transition: box-shadow 0.3s;
      }
      #fluid_8:hover{
         box-shadow: 5px 5px 10px 2px rgba(133, 35, 35, 0.5);}

         #fluid_9{
            color: #ffffff;
            width: 303.84px;
            height: 515.74px;
            background-color: #000000;
            margin: 10px;
            background-size: cover;
            position: relative;
            text-align: center;
            overflow: hidden;
            /* box-shadow: 5px 5px 10px 2px rgba(42, 72, 86, 0.5); */
            transition: box-shadow 0.3s;
         }
         #fluid_9:hover{
            box-shadow: 5px 5px 10px 2px rgba(133, 35, 35, 0.5);}

            #fluid_10{
               width: 303.84px;
               height: 515.74px;
               color: #ffffff;
               background-color: #000000;
               margin: 10px;
               background-size: cover;
               position: relative;
               text-align: center;
               overflow: hidden;
               /* box-shadow: 5px 5px 10px 2px rgba(42, 72, 86, 0.5); */
               transition: box-shadow 0.3s;
            }
            #fluid_10:hover{
               box-shadow: 5px 5px 10px 2px rgba(133, 35, 35, 0.5);
            }
            /* .Bottom{
               display: flex; 
               margin-top: 100px;
               align-items: center;
               padding: 0 5%;
               border-style: solid;
               width: 1170;
               height: 100vhv;
            } */
            /* #ifr{
               padding-left: 210px;
               height: 443.8;
               width: 652.5;
            }
            .rotate-text {
               transform: rotate(-180deg);
               writing-mode: vertical-lr;
               transform-origin: center center;
               color: var(--dark-color);
               font-weight: var(--font-weight-500);
               right: -26px;
               position: relative;
            } */
#image-bar{
   display: flex;
   /* justify-content: center;
   align-items: center; */
   margin-left: 250px;
   
   
   
}
               
